{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add Page
{% endblock %}

{% block body %}
    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            <input type="text" name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="form-floating">
            <textarea name="content" class="form-control" placeholder="Add content here" id="floatingTextarea2" style="height: 400px"></textarea>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Name</span>
            <input type="text" name="name" class="form-control">
        </div>

        <br>

        <input type="submit" value="Add Page">
    </form>

{% endblock %}