{% extends "encyclopedia/layout.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Add Paper
{% endblock %}

{% block body %} 
<div class="alert alert-success" role="alert">
    <h3>Add a Paper</h3>
</div>

<form action="{% url 'addpaper' %}" method="POST" autocomplete="off">
    {% csrf_token %} 

    <div class="col-12">
        {{ form.title|as_crispy_field }}
    </div>

    <div class="col-md-6">
        {{ form.subject|as_crispy_field }}
    </div>

    <div class="col-md-6">
        {{ form.year|as_crispy_field }}
    </div>

    <div class="col-md-6">
        {{ form.category|as_crispy_field }}
    </div>

    <div class="col-12">
        {{ form.your_name|as_crispy_field }}
    </div>

    <div class="alert alert-info" role="alert">
        Please submit the file below and paste the generated link in the following box
    </div>

    <iframe id="myIframe" src="https://script.google.com/macros/s/AKfycbxiUCkJYUctGX_-2Qo92g8QiWRkRraDgXFBlJvTLTWgdyCrKcq7kaEfGa1Kj_vQU2c_/exec" frameborder=False allow="clipboard-read; clipboar-write" height="250" width="370" ></iframe>   

    <div class="alert alert-success" role="alert">
        Please paste the above generated link in this box
    </div>

    <div class="col-12">
        {{ form.file_url|as_crispy_field }}
    </div>      
        
    <div class="col-12">              
        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %} 