{% extends "encyclopedia/layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block head %}
    <style>
        .code {
            background-color: #a6b8b775;
        }
    </style>
{% endblock %}

{% block body %}

<div class="alert alert-success" role="alert">
    <h3>We appreciate suggestions. If you have something to say, feel free to Email us</h3>
</div>

<ul>
    <li><h4>Sameer Azam</h4></li>

    <ul>
        <li><h4><a href = "mailto: thesameerazam@gmail.com">thesameerazam@gmail.com</a></h4</li>
    </ul>

    <ul>
        <li><h4><a href = "mailto: sameer189617@st.jmi.ac.in">sameer189617@st.jmi.ac.in</a></h4</li>
    </ul>

    <br>

    <li><h4>Mohd. Rizwan</h4></li>
    <ul>
        <li><h4><a href = "mailto: rizwanjamia2013@gmail.com">rizwanjamia2013@gmail.com</a></h4</li>
    </ul>
</ul>

{% endblock %}