{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    
    <form action="{% url 'edit' note.title %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" value="{{ note.title }}">
        <div class="form-floating">
            <textarea name="content" class="form-control" id="floatingTextarea2" style="height: 400px">{{ note.content }}</textarea>
        </div>

        <input type="text" name="name" placeholder="Name">

        <br>

        <input type="submit" value="Save Changes">
    </form>

{% endblock %}