{% extends "encyclopedia/layout.html" %}

{% block title %}
    Guide
{% endblock %}

{% block head %}
    <style>
        .code {
            background-color: #a6b8b775;
        }
    </style>
{% endblock %}

{% block body %}

    <h2 id="add">How to add a page?</h2>
    <p>To add a page, you need to type it's title and content in the respective boxes. It's just simple if 
       you use following tools while adding your content;
    </p>

    <ul>
        <li>We have heading of six size.<br>
            One # before something will make it the biggest heading. For example, <span class="code"># Heading</span>
            would give;      
            <h1>Heading</h1>
            <span class="code">## Heading</span>
            <h2>Heading</h2>
            <span class="code">### Heading</span>
            <h3>Heading</h3>   
            .............. <br>         
            ..... so 6 # will give us the smallest heading : <br>
            <span class="code">###### Heading</span>
            <h6>Heading</h6>
        </li>
        <br>
        <li>Use <span class="code">**NAME**</span> for bold text. It will give: <b>NAME</b></li>
        <br>
        <li>Use <span class="code">[NAME OF LINK](URL OF LINK)</span> for links. <br>
            For example, a link to this page will be like; <span class="code">[Guide](url of this page)</span> 
            and will look like <a href="#">Guide</a>
        </li>
    </ul>

    <p><b>Voila!</b> You are ready to add pages.</p>

{% endblock %}